<div class="container mt-5 mb-5">
    <h1 class="text-center">About</h1>

    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum nostrum cumque culpa totam quam at aperiam sapiente, veniam natus magni. Quae vel illum cumque animi eligendi at eum, cupiditate voluptas!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem quibusdam quasi excepturi, repudiandae quisquam repellat blanditiis nam dolore esse aliquid tenetur enim. Dolorum nulla eum quis corporis impedit rerum excepturi.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet voluptas aliquid obcaecati molestiae quidem maiores, fugit possimus distinctio repellendus, nostrum sequi porro ratione, deserunt asperiores sed nobis corporis? Minima, impedit!
        <br/>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam fugit in necessitatibus labore tempora odit quasi tempore vitae culpa, cupiditate, veritatis rerum. Expedita quis ipsum excepturi quaerat? Velit, omnis repellat?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Non soluta officiis nobis ipsam, voluptatum blanditiis id tenetur sequi, nemo doloribus mollitia modi atque animi rem, quod fugit tempore illo illum.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate sequi similique, minima illo modi nisi. Quia voluptates velit nulla minus perspiciatis nam at quisquam veritatis veniam! Facilis placeat dolorum voluptatum?
        <br/>
    </p>

</div>
